In [45]:
import pandas as pd
import numpy as np

In [46]:
data =  pd.read_csv("mavoix_ml_sample_dataset.csv")

## Candidates for Machine Learning

In [194]:
ml_data=data.copy()

In [195]:
ml_data.columns

Index(['Application_ID', 'Current City', 'Python (out of 3)',
       'R Programming (out of 3)', 'Deep Learning (out of 3)',
       'PHP (out of 3)', 'MySQL (out of 3)', 'HTML (out of 3)',
       'CSS (out of 3)', 'JavaScript (out of 3)', 'Unnamed: 10',
       'AJAX (out of 3)', 'Bootstrap (out of 3)', 'MongoDB (out of 3)',
       'Node.js (out of 3)', 'ReactJS (out of 3)', 'Other skills', 'Degree',
       'Stream', 'Current Year Of Graduation', 'Performance_PG',
       'Performance_UG', 'Performance_12', 'Performance_10'],
      dtype='object')

In [49]:
#drop the columns not needed for analysing ml candidates

In [50]:
ml_data.drop(['PHP (out of 3)', 'HTML (out of 3)',
       'CSS (out of 3)', 'JavaScript (out of 3)', 'Unnamed: 10',
       'AJAX (out of 3)', 'Bootstrap (out of 3)', 'MongoDB (out of 3)',
       'Node.js (out of 3)', 'ReactJS (out of 3)', 'Other skills', 'Degree',
       'Stream', 'Current Year Of Graduation', 'Performance_PG',
       'Performance_UG', 'Performance_12', 'Performance_10'],axis=1,inplace= True)

In [143]:
ml_data.isnull().sum()

Application_ID              0
Current City                0
Python (out of 3)           0
R Programming (out of 3)    0
Deep Learning (out of 3)    0
MySQL (out of 3)            0
criterion                   0
dtype: int64

#### Shotlisting the candidates based on some criteria

1.current city should be Bangalore <br>
2.skill required should be greater or equal to 2

In [108]:
ml_data[(ml_data['Current City']== 'Bangalore') & (ml_data['Python (out of 3)'] >= 2 ) & (ml_data['R Programming (out of 3)'] >= 2) & (ml_data['Deep Learning (out of 3)'] >= 2) & (ml_data['MySQL (out of 3)'] >=2)]

,Application_ID,Current City,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),MySQL (out of 3),criterion
34,ML0035,Bangalore,3,3,3,2,Pass
124,ML0125,Bangalore,3,2,3,2,Pass
182,ML0183,Bangalore,2,2,2,3,Pass
254,ML0255,Bangalore,2,3,3,2,Pass
344,ML0345,Bangalore,2,2,3,2,Pass

#### Bulding the model : Decision Tree

In [164]:
#making a result column in order to show pass/failed candidates
ml_data.criterion = 'NaN'

In [110]:
for i, row in ml_data.iterrows() :
    if (row['Current City']== 'Bangalore') & (row['Python (out of 3)'] >= 2 ) & (row['R Programming (out of 3)'] >= 2) & (row['Deep Learning (out of 3)'] >= 2) & (row['MySQL (out of 3)'] >=2) :
        ml_data.at[i,'criterion']="Pass"
    else :
        ml_data.at[i,'criterion']="Fail"

In [111]:
ml_data.head()

,Application_ID,Current City,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),MySQL (out of 3),criterion
0,ML0001,Bangalore,0,2,0,0,Fail
1,ML0002,Bangalore,2,0,0,2,Fail
2,ML0003,Bangalore,3,0,1,2,Fail
3,ML0004,Bangalore,2,0,2,0,Fail
4,ML0005,Bangalore,2,0,0,0,Fail

In [112]:
#sleceted_candidates=ml_data[(ml_data['Current City']== 'Bangalore') & (ml_data['Python (out of 3)'] >= 2 ) & (ml_data['R Programming (out of 3)'] >= 2) & (ml_data['Deep Learning (out of 3)'] >= 2) & (ml_data['MySQL (out of 3)'] >=2)]
#sleceted_candidates

In [114]:
#applaying decision tree

In [115]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier

In [116]:
inputs = ml_data.drop(['criterion'],axis=1)

In [117]:
target=ml_data['criterion']

In [118]:
output=ml_data.criterion

In [119]:
le_Application_ID=LabelEncoder()

In [120]:
le_Current_City=LabelEncoder()

In [121]:
le_Python=LabelEncoder()

In [122]:
le_R=LabelEncoder()

In [123]:
le_Deep_Learning=LabelEncoder()

In [124]:
le_MySQL=LabelEncoder()

In [125]:
inputs['Application_ID_n']=le_Application_ID.fit_transform(inputs['Application_ID'])

In [126]:
inputs['Current_City_n'] = le_Current_City.fit_transform(inputs['Current City'])

In [127]:
inputs['Python_n'] = le_Python.fit_transform(inputs['Python (out of 3)'])

In [128]:
inputs['Deep_Learning_n'] = le_Deep_Learning.fit_transform(inputs['Deep Learning (out of 3)'])

In [129]:
inputs['R_n'] = le_R.fit_transform(inputs['R Programming (out of 3)'])

In [130]:
inputs['MySQL_n']=le_MySQL.fit_transform(inputs['MySQL (out of 3)'])

In [131]:
inputs.drop(['Application_ID','Current City','Python (out of 3)','R Programming (out of 3)','Deep Learning (out of 3)','MySQL (out of 3)'],axis=1,inplace=True)

In [133]:
from sklearn import tree

In [134]:
model = tree.DecisionTreeClassifier(criterion='entropy')

In [135]:
from sklearn.model_selection import train_test_split

In [136]:
x_train,x_test,y_train,y_test=train_test_split(inputs,target)

In [137]:
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [138]:
model.predict(x_test)

array(['Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Pass', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Pass', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Pass', 'Fail', 'Fail', 'Pass', 'Fail', 'Fail', 'Fail', 'Fail',
       'Pass', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail'], dtype=object)

In [139]:
model.score(x_test,y_test)

0.9489795918367347

## Candidates for Python Developement

In [160]:
python_data=data.copy()

In [11]:
#seperating the python candidates by droping the data science feature columns

In [12]:
python_data.drop(['R Programming (out of 3)','Deep Learning (out of 3)','Deep Learning (out of 3)','Other skills','Degree','Stream','Current Year Of Graduation','Performance_PG','Unnamed: 10','Performance_UG','Performance_12','Performance_10'],axis=1,inplace=True)

In [13]:
python_data.head()

,Application_ID,Current City,Python (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),AJAX (out of 3),Bootstrap (out of 3),MongoDB (out of 3),Node.js (out of 3),ReactJS (out of 3)
0,ML0001,Bangalore,0,2,0,2,3,2,0,2,0,0,0
1,ML0002,Bangalore,2,2,2,2,2,2,0,0,0,0,0
2,ML0003,Bangalore,3,2,2,2,0,2,0,0,0,0,0
3,ML0004,Bangalore,2,1,0,2,0,0,0,0,0,0,0
4,ML0005,Bangalore,2,2,0,2,1,1,0,0,2,2,2

## shortlisting the candidates based on some criteria

1. all the programing language skills should be equal or above 2 <br>
2. cadidates should be from bangalore

In [14]:
python_data[(python_data['Current City'] == 'Bangalore') & (python_data['MySQL (out of 3)'] >= 2 ) & (python_data['HTML (out of 3)'] >= 2) & (python_data['MySQL (out of 3)'] >= 2) & (python_data['CSS (out of 3)'] >=2) & (python_data['JavaScript (out of 3)'] >= 2) & (python_data['AJAX (out of 3)'] >=2) & (python_data['Bootstrap (out of 3)'] >=2) & (python_data['MongoDB (out of 3)'] >=2) & (python_data['Node.js (out of 3)'] >=2) & (python_data['ReactJS (out of 3)'] >=2)]

Empty DataFrame
Columns: [Application_ID, Current City, Python (out of 3), PHP (out of 3), MySQL (out of 3), HTML (out of 3), CSS (out of 3), JavaScript (out of 3), AJAX (out of 3), Bootstrap (out of 3), MongoDB (out of 3), Node.js (out of 3), ReactJS (out of 3)]
Index: []

In [15]:
#since there is no one with the said requirements we will have to compramise on the criteria.

In [16]:
python_data[(python_data['Current City'] == 'Bangalore') & (python_data['Python (out of 3)'] >=1) & (python_data['MySQL (out of 3)'] >= 1 ) & (python_data['HTML (out of 3)'] >= 2) & (python_data['MySQL (out of 3)'] >= 1) & (python_data['CSS (out of 3)'] >=1) & (python_data['JavaScript (out of 3)'] >= 1) & (python_data['AJAX (out of 3)'] >=1) & (python_data['Bootstrap (out of 3)'] >=1) & (python_data['MongoDB (out of 3)'] >=1) & (python_data['Node.js (out of 3)'] >=1) & (python_data['ReactJS (out of 3)'] >=1)]

Empty DataFrame
Columns: [Application_ID, Current City, Python (out of 3), PHP (out of 3), MySQL (out of 3), HTML (out of 3), CSS (out of 3), JavaScript (out of 3), AJAX (out of 3), Bootstrap (out of 3), MongoDB (out of 3), Node.js (out of 3), ReactJS (out of 3)]
Index: []

since we have not received any candidate with all the skill set. lets look for python developers with frontend and mysql db

In [18]:
python_data[(python_data['Current City'] == 'Bangalore') & (python_data['Python (out of 3)'] >=1) & (python_data['MySQL (out of 3)'] >= 1 ) & (python_data['HTML (out of 3)'] >= 2) & (python_data['MySQL (out of 3)'] >= 1) & (python_data['CSS (out of 3)'] >=1) & (python_data['JavaScript (out of 3)'] >= 1) & (python_data['AJAX (out of 3)'] >=1) & (python_data['Bootstrap (out of 3)'] >=1)]

,Application_ID,Current City,Python (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),AJAX (out of 3),Bootstrap (out of 3),MongoDB (out of 3),Node.js (out of 3),ReactJS (out of 3)
15,ML0016,Bangalore,2,0,2,2,2,1,1,1,0,0,0
235,ML0236,Bangalore,2,0,2,2,2,1,1,1,0,0,0
354,ML0355,Bangalore,2,0,2,2,2,1,1,1,0,0,0

since we have got a set of candidates for the requirement, lets move on building the model.
lets keep only the features necessary and drop the other skill columns

In [161]:
python_data.drop(['MongoDB (out of 3)','Node.js (out of 3)','ReactJS (out of 3)','Degree','Other skills','Stream','Current Year Of Graduation','Performance_PG','Performance_UG','Performance_12','Performance_10','PHP (out of 3)','R Programming (out of 3)','Deep Learning (out of 3)','Unnamed: 10'],axis=1,inplace=True)

In [167]:
python_data.head()

,Application_ID,Current City,Python (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),AJAX (out of 3),Bootstrap (out of 3)
0,ML0001,Bangalore,0,0,2,3,2,0,2
1,ML0002,Bangalore,2,2,2,2,2,0,0
2,ML0003,Bangalore,3,2,2,0,2,0,0
3,ML0004,Bangalore,2,0,2,0,0,0,0
4,ML0005,Bangalore,2,0,2,1,1,0,0

#### Bulding the model : Decision Tree

In [169]:
#making a result column in order to show pass/failed candidates
python_data.criterion = 'NaN'
for i, row in python_data.iterrows() :
    if (row['Current City'] == 'Bangalore') & (row['Python (out of 3)'] >=1) & (row['MySQL (out of 3)'] >= 1 ) & (row['HTML (out of 3)'] >= 2) & (row['MySQL (out of 3)'] >= 1) & (row['CSS (out of 3)'] >=1) & (row['JavaScript (out of 3)'] >= 1) & (row['AJAX (out of 3)'] >=1) & (row['Bootstrap (out of 3)'] >=1) :
        python_data.at[i,'criterion']="Pass"
    else :
        python_data.at[i,'criterion']="Fail"

In [173]:
inputs = python_data.drop(['criterion'],axis=1)
target=python_data['criterion']
output=python_data.criterion

In [175]:
python_data.head()

,Application_ID,Current City,Python (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),AJAX (out of 3),Bootstrap (out of 3),criterion
0,ML0001,Bangalore,0,0,2,3,2,0,2,Fail
1,ML0002,Bangalore,2,2,2,2,2,0,0,Fail
2,ML0003,Bangalore,3,2,2,0,2,0,0,Fail
3,ML0004,Bangalore,2,0,2,0,0,0,0,Fail
4,ML0005,Bangalore,2,0,2,1,1,0,0,Fail

In [178]:
#Creatting Labels
le_Application_ID = LabelEncoder()
le_Current_City = LabelEncoder()
le_python = LabelEncoder()
le_MySQL =LabelEncoder()
le_HTML = LabelEncoder()
le_CSS = LabelEncoder()
le_JavaScript = LabelEncoder()
le_AJAX = LabelEncoder()
le_Bootstrap =LabelEncoder()

In [179]:
inputs['Application_ID_n']=le_Application_ID.fit_transform(inputs['Application_ID'])
inputs['Current_City_n'] = le_Current_City.fit_transform(inputs['Current City'])
inputs['Python_n'] = le_Python.fit_transform(inputs['Python (out of 3)'])
inputs['MySQL_n']=le_MySQL.fit_transform(inputs['MySQL (out of 3)'])
inputs['HTML_n']=le_MySQL.fit_transform(inputs['HTML (out of 3)'])
inputs['CSS_n']=le_MySQL.fit_transform(inputs['CSS (out of 3)'])
inputs['JS']=le_MySQL.fit_transform(inputs['JavaScript (out of 3)'])
inputs['AJAX']=le_MySQL.fit_transform(inputs['AJAX (out of 3)'])
inputs['Bootstrap']=le_MySQL.fit_transform(inputs['Bootstrap (out of 3)'])

In [180]:
inputs.drop(['Application_ID','Current City','Python (out of 3)','MySQL (out of 3)','HTML (out of 3)','CSS (out of 3)','JavaScript (out of 3)','AJAX (out of 3)','Bootstrap (out of 3)'],axis=1,inplace=True)

In [181]:
from sklearn import tree

In [185]:
from sklearn.model_selection import train_test_split

In [182]:
model = tree.DecisionTreeClassifier(criterion='entropy')

In [186]:
x_train,x_test,y_train,y_test=train_test_split(inputs,target)

In [187]:
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [189]:
model.predict(x_test)

array(['Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Pass',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail'], dtype=object)

In [190]:
model.score(x_test,y_test)

0.9897959183673469